{% extends 'base.html' %}
{% load tags %}
{% block title %} Акт обследования участка рекогносцировки {% endblock %}
{% block content %}

<form method="get" style="padding-top:20px">
    <div class="row" align="center">
        <div class="col-md-4 col-xs-4 col-sm-4">
            {{ filter.form.recon_site_id.label_tag }}
            {{ filter.form.recon_site_id }}
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            {{ filter.form.date.label_tag}}
            {{ filter.form.date }}
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <div class="col-md-1 col-xs-1 col-sm-1" style="float:left; padding-top:7px" >
                <p></p>
                <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3" style="padding-top:7px">
                <p></p>
                <a href="{% url 'recon_sites_survey_create'%}">
                    <button type="button" class="btn btn-success">
                        <i class="bi bi-plus"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</form>
<hr>
{% for data in page_obj %}
<div class="row" align="center">
    <div class="col-md-4 col-xs-4 col-sm-4">
        {{ data.recon_site_id }}
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4">
        {{ data.doc__creation_date }}
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4">
        <a href="{% url 'recon_sites_survey_edit' data.pk %}">
            <button type="button" class="btn btn-info">
                <i class="bi bi-pen"></i>
            </button>
        </a>
    </div>
</div>
<hr>
{% endfor %}
<ul class="pagination">

    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-chevron-left" aria-hidden="true"></i></a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link"><i class="bi bi-chevron-left" aria-hidden="true"></i></span></li>
    {% endif %}

    {% if page_obj.number|add:'-4' > 1 %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="bi bi-chevron-right" aria-hidden="true"></i></a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link"><i class="bi bi-chevron-right" aria-hidden="true"></i></span></li>
    {% endif %}

</ul>
{% endblock %}